@model LazoWeb.Models.Customer
@{
    ViewBag.Title = "Xóa đăng kí dịch vụ";
    Layout = "~/Areas/Admin/Views/Shared/_LauoutAdmin.cshtml";
}
<h2>Xóa người dùng đăng ký dịch vụ</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Company)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberEmployee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberEmployee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RegisterDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegisterDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @(Model.Status ? "Đã liên hệ" : "Chưa liên hệ")
        </dd>
    </dl>
    <hr />
    <div class="form-actions no-color">
        <a href="@Url.Action("Index")" class="btn btn-default">Quay lại</a>
        <button type="button" class="btn btn-danger" id="myBtn">Xóa</button>
    </div>
</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Xóa đăng ký dịch vụ</h4>
            </div>
            <div class="modal-body">
                <p>Bạn có muốn xóa đăng ký dịch vụ này không ?</p>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    <input type="submit" value="Xóa" class="btn btn-danger" />
                </div>
            }
        </div>

    </div>
</div>
<script src="~/Scripts/js/btnXoa.js"></script>
