@model LazoWeb.Models.Customer
@{
    ViewBag.Title = "Xóa đăng kí dịch vụ";
    Layout = "~/Areas/Admin/Views/Shared/_LauoutAdmin.cshtml";
}
<h2>Xóa người dùng đăng kí dịch vụ</h2>
<h3>Bạn có thật sự muốn xóa người dùng đăng kí dịch vụ này không?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Company)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberEmployee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberEmployee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RegisterDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegisterDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @(Model.Status ? "Đã liên hệ" : "Chưa liên hệ")
        </dd>
    </dl>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    <div class="form-actions no-color">
        <a href="@Url.Action("Index")" class="btn btn-default">Quay lại</a>
        <input type="submit" value="Xóa" class="btn btn-danger" />
    </div>
    }
</div>
