@model IEnumerable<LazoWeb.Models.Customer>
@{
    ViewBag.Title = "Danh sách khách hàng";
    Layout = "~/Areas/Admin/Views/Shared/_LauoutAdmin.cshtml";
}
<div class="getdanhsach">
    <h2>Danh sách khách hàng</h2>

    <table id="example" class="table table-striped table-bordered nowrap" style="width:100%">
        <thead>
            <tr>
                <th>
                    STT
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Company)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RegisterDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            @*@foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @{counter++;}@counter
                        </td>
                        <td>
                            <a href="@Url.Action("Details",new { id = item.ID })">
                                @Html.DisplayFor(modelItem => item.Name)
                            </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Company)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RegisterDate)
                        </td>
                        <td>
                            @(item.Status ? "Đã liên hệ" : "Chưa liên hệ")
                        </td>
                        <td>
                            <a data-toggle="tooltip" title="Sửa" href="@Url.Action("Edit",new { id = item.ID })"><i class="fas fa-edit"></i></a>
                            <a data-toggle="tooltip" title="Chi tiết" href="@Url.Action("Details",new { id = item.ID })"><i class="fas fa-info-circle"></i></a>
                            <a data-toggle="tooltip" class="myBtn" title="Xóa" href="javascript:;" data-id="@item.ID"><i class="fas fa-trash-alt text-danger"></i></a>
                        </td>
                    </tr>
                }*@
        </tbody>
    </table>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center">Xóa đăng ký dịch vụ</h4>
                </div>
                <div class="modal-body">
                    <p class="text-center">Bạn có muốn xóa đăng ký dịch vụ này không ?</p>
                </div>
                <div class="modal-footer" id="cus-delete">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="close">Đóng</button>
                    <a class="btn btn-danger">Xóa</a>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="myNotifySuccess" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <h1 class="text-success"><i class="far fa-check-circle"></i></h1>
                    <p>Bạn đã xóa thành công</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="btn-close">Đóng</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myNotifyFail" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <h1 class="text-danger"><i class="far fa-times-circle"></i></h1>
                    <p>Bạn đã xóa thành công</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section script {
    <script>
        $(document).ready(function () {
            $("#manage-customers").addClass("active");
            $("#manage-customers #list-customers").addClass("active");
        });
        $(document).ready(function () {
            $('#example').DataTable({
                responsive: true,
                stateSave: true,
                ajax: "/api/customers",
                columns: [
                    { data: null },
                    { data: "Name" },
                    { data: "Company" },
                    { data: "Email" },
                    {
                        data: "Phone"
                    },
                    {
                        data: "RegisterDate",
                        "render": function (data) {
                            var d = new Date(data);
                            return d.toLocaleDateString();
                        }
                    },
                    { data: "Status" },
                    {
                        data: null,
                    }
                ],
                "createdRow": function (row, data, index) {
                    var stt = index + 1
                    $('td:eq(0)', row).html(
                        stt
                    );
                },
                "rowCallback": function (row, data, index) {
                    $('td:eq(1)', row).html(
                        '<a href="/admin/customers/details?id=' + data.ID + '" >' + data.Name + '</a > '
                    );
                    $('td:eq(6)', row).html(
                        data.Status ? "Đã liên hệ" : "Chưa liên hệ"
                    );
                    $('td:eq(7)', row).html(
                        '<a data-toggle="tooltip" title="Sửa" href="/admin/customers/edit?id=' + data.ID + '" > <i class="fas fa-edit"></i></a > ' +
                        '<a data-toggle="tooltip" title="Chi tiết" href="/admin/customers/details?id=' + data.ID + '"><i class="fas fa-info-circle"></i></a>' + 
                        '<a data-toggle="tooltip" class="myBtn" title="Xóa" href="javascript:;" data-id="' + data.ID + '"><i class="fas fa-trash-alt text-danger"></i></a>'
                    );
                },
            });
        });
    </script>

}
<script src="~/Scripts/js/btnXoa.js"></script>

