@model LazoWeb.Models.ApplicationUser
@{
    ViewBag.Title = "Chi tiết tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/_LauoutAdmin.cshtml";
}
<div class="box box-default getdanhsach">
    <h2>Chi tiết tài khoản</h2>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>
            <dt>
                Họ và tên
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LastName) @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt>
                Trạng thái tài khoản
            </dt>
            <dd>
                @if (Model.EmailConfirmed == true)
                {
                    @Html.Raw("Đã xác nhận");
                }
                @if (Model.EmailConfirmed == false)
                {
                    @Html.Raw("Chưa xác nhận");
                }
            </dd>
        </dl>
    </div>
</div>
<p>
    @Html.ActionLink("Quay lại", "GetAllUser") |
    @*<button class="btn btn-primary" formaction=@Url.Action("GetAllUser","User")>Quay lại</button>*@
    @*<a href="#">Xóa</a>*@
    <a class="btn btn-danger" href="/admin/user/Edit?id=@Model.Id">Sửa</a>
</p>
