<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="Lazo là ứng dụng DMS nhằm mục đích quản lý nhân viên sale thực hiện công việc trên bản đồ thời gian thực với bản đồ 3D và công nghệ 4.0.">
    <meta name="Keywords" content="lazo, dms, router, schedule, report, iotlink, map4d, bản đồ Việt Nam, Bản đồ 3D, Công nghệ nền tảng, Công nghệ 4.0, Công ty công nghệ, Map Framework, Map 3D, Bản đồ 3D ">
    <link href="~/Content/img/logo.png" type="image/png" rel="shortcut icon" />
    <title>@ViewBag.Title</title>
    @*link css bootstrap*@
    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font/css/all.css" rel="stylesheet" />
    @*css footer*@
    <link href="~/Content/css/footer.css" rel="stylesheet" />
    <link href="~/Content/css/menu.css" rel="stylesheet" />
    @*jquery*@
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    @RenderSection("css", required: false)
</head>
<body>
    @Html.Partial("_MenuHeader")
    @RenderBody()
    @Html.Partial("/Views/Shared/_FooterPartial.cshtml")
    @*script*@
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/js/feedback.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
