@model LazoWeb.Models.Customer
@using CaptchaMvc.HtmlHelpers
<link href="~/Content/css/Register.css" rel="stylesheet" />
@{
    /**/

    ViewBag.Title = "Đăng ký";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var captcha = Html.Captcha("Chọn lại", "", 5, "Vui lòng nhập!");
}
<div class="row" id="signup-page">
    <div class="col-xs-12 col-sm-2 col-md-3 col-lg-3" id="tree">
        <img class="img-responsive" src="~/Content/img/Untitled-tree.png" alt="Alternate Text" />
    </div>
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6 text-center form">
        @using (Html.BeginForm())
        {
            <br />
            <h2>ĐĂNG KÝ DỊCH VỤ</h2>
            <br />

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row input-zone text-left">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Họ và tên", @id = "Name" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger text-left small", @id = "ValidName" })
                </div>
                <div class="col-md-10 text-left">
                    @Html.EditorFor(model => model.Company, new { htmlAttributes = new { @class = "form-control", @placeholder = "Tên công ty", @id = "Company" } })
                    @Html.ValidationMessageFor(model => model.Company, "", new { @class = "text-danger small", @id = "ValidCompany" })
                </div>
                <div class="col-md-10 text-left">
                    @Html.EditorFor(model => model.NumberEmployee, new { htmlAttributes = new { @class = "form-control", @placeholder = "Số lượng nhân viên", @id = "NumberEmployee" } })
                    @Html.ValidationMessageFor(model => model.NumberEmployee, "", new { @class = "text-danger small", @id = "ValidNumberEmployee" })
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Điện thoại liên hệ", @id = "Phone" } })
                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger small", @id = "ValidPhone" })
                </div>
                <div class="col-md-10 text-left">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Địa chỉ Email", @id = "Email" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger small", @id = "ValidEmail" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 captcha">
                    @captcha
                    @Html.ValidationMessage(captcha.BuildInfo.InputElementId, "", new { @class = "text-danger small" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-112 text-center">
                    <input type="submit" id="btn-submit" value="Gửi yêu cầu" class="btn btn-primary" />
                </div>
            </div>
        }
    </div>
    <div class="col-xs-12 col-sm-2 col-md-3 col-lg-3" id="glasses">
        <img class="img-responsive" src="~/Content/img/Untitled-1_0000_glasses.png" alt="Alternate Text" />
    </div>
</div>
<div class="modal fade" id="myNotifySuccess" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body text-center">
                <h1 class="text-success"><i class="far fa-check-circle"></i></h1>
                <p>Đăng ký thành công</p>
            </div>
            <div class="modal-footer">
                <a href="@Url.Action("Index","Home")" class="btn btn-success">Xong</a>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/js/formRequired.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @{
        var register = ViewData["register"];
        if (register != null)
        {
            <script>
                $(document).ready(function () {
                    $("#myNotifySuccess").modal();
                });
            </script>
        }
    }
}