@model LazoWeb.Models.Customer
@using BotDetect.Web.Mvc
<link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl"
      rel="stylesheet" type="text/css" />
<link href="~/Content/css/Register.css" rel="stylesheet" />
@{ var registerCaptcha = new MvcCaptcha("registerCaptcha")
    { UserInputID = "CaptchaCode" }; }
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" id="signup-page">
    <div class="col-xs-12 col-sm-2 col-md-3 col-lg-3" id="tree">
        <img class="img-responsive" src="~/Content/img/Untitled-tree.png" alt="Alternate Text" />
    </div>
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6 text-center form">
        @using (Html.BeginForm())
        {
            <br>
            <h2>ĐĂNG KÝ</h2>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="row input-zone">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Họ và tên" } })
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Company, new { htmlAttributes = new { @class = "form-control", @placeholder = "Tên công ty" } })
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NumberEmployee, new { htmlAttributes = new { @class = "form-control", @placeholder = "Số lượng nhân viên" } })
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @placeholder = "Địa chỉ liên hệ" } })
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Địa chỉ Email" } })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 captcha">
                    @Html.Captcha(registerCaptcha)
                    @Html.TextBox("CaptchaCode")
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-112 text-center">
                    <input type="submit" value="Gửi yêu cầu" class="btn btn-primary" />
                </div>
            </div>
        }
    </div>
    <div class="col-xs-12 col-sm-2 col-md-3 col-lg-3" id="glasses">
        <img class="img-responsive" src="~/Content/img/Untitled-1_0000_glasses.png" alt="Alternate Text" />
    </div>
</div>

